.primario {
  @include flex-r($gap: 4px);
  @include boton-secondary();
  font-size: $semi-small-16px;
  font-weight: $bold;
  transition: 0.3s ease-in-out;
}

// Our work

.sub-our-work {
  button {
    @include flex-r();
    @include boton-tericiary();
    padding: 0px;
    transition: 0.3s ease-in-out;
  }
}

.aspectos {
  button {
    @include flex-r($gap: $spacing-16px, $padding: 0px 0px);
    @include boton-tericiary($color-font: $color-secondary-dark-brown,$pad: 0px 0px 0px 0px);
    font-weight: $regular;
    
  }
}

// Form

.enviar{
  @include boton-primary();
  width: 100%;
  font-size: $media;
  transition: 0.3s ease-in-out;
    
}
