//Inicio

section {
  @include flex-c(
    $justify: start,
    $align: start,
    $gap: $spacing-60px,
    $padding: $spacing-100px $spacing-24px $spacing-32px $spacing-24px
  );
}

.primera-screen {
  @include flex-c($padding: 0px $spacing-24px $spacing-32px $spacing-24px);
}
.presentacion {
  @include flex-c($gap: $spacing-24px, $margin: 50% 0px);
}

.presentacion {
  p {
    font-size: $semi-small-16px;
    font-weight: $regular;
    font-family: "Montserrat", serif;
    color: $color-white;
  }
}

h1 {
  span {
    color: $color-primary-gold;
    font-weight: $semi-bold;
  }
}

// Values

.values {
  background-color: $color-secondary-dark-brown;
}

.subtitulo {
  @include flex-c(
    $justify: start,
    $align: start,
    $gap: $spacing-20px,
    $padding: 0px
  );
}

.subtitulo {
  p {
    font-size: $semi-small-16px;
    font-weight: $regular;
    text-align: start;
    color: $color-white;
  }
}

.subtitulo {
  .subrayado {
    width: 109px;
    height: 3px;
    background-color: $color-white;
  }
}

.seccion-valores {
  @include flex-c($gap: $spacing-60px);
}
// Each value

figcaption {
  @include flex-c(
    $gap: $spacing-16px,
    $justify: start,
    $align: start,
    $padding: 0px 0px 0px $spacing-16px
  );
  border-left: solid 4px $color-primary-gold;
}

figcaption {
  p {
    text-align: start;
    font-weight: $regular;
  }
}
.seccion-valores {
  figure {
    img {
      width: 100%;
      height: auto;
      border-radius: $radius-8px;
      border-bottom: $spacing-12px solid $color-primary-gold;
      border-left: $spacing-12px solid $color-primary-gold;
    }
  }
}

// Our Work

.subtitulo {
  .negro {
    width: 109px;
    height: 3px;
    background-color: $color-black;
  }
}

.sub-our-work {
  @include flex-c($gap: $spacing-20px, $justify: start, $align: start);
}

.sub-our-work {
  button {
    p {
      color: $color-secondary-dark-brown;
      font-weight: $bold;
    }
  }
}

// Product gallery

.aspectos {
  @include flex-c($align: start, $justify: start, $gap: $spacing-8px);
}

.aspectos {
  div {
    @include flex-c($justify: start, $align: start, $gap: $spacing-8px);
  }
}

.aspectos {
  span {
    font-size: $media;
    font-weight: $medium;
    text-align: start;
    color: $color-grey;
  }
}

.aspectos {
  p {
    font-size: $semi-small-16px;
    font-weight: $semi-bold;
    text-align: start;
    color: $color-secondary-dark-brown;
  }
}

.producto {
  border: none;
  width: 100%;
  height: auto;
}

.flecha {
  width: 12px;
  height: auto;
}

.lista-producto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: $spacing-28px;
}

//  Testimonies

.testimonios {
  @include flex-c($gap: $spacing-20px);
  width: 100%;
}

.testimonios {
  div {
    img {
      object-fit: cover;
      width: 100%;
      filter: brightness(50%);
    }
  }
}

.marcas-clientes{
  @include flex-r($justify:space-between, $padding:$spacing-16px);
  
}

.marcas-clientes{
  img{
    width: 200px;
    height: auto;
  }
}