//Inicio

section {
  @include flex-c(
    $gap: $spacing-60px,
    $padding: $spacing-100px $spacing-24px $spacing-52px $spacing-24px
  );
}

.presentacion {
  @include flex-c($gap: $spacing-42px);
  max-width: 700px;
}

.presentacion {
  .titulo1 {
    @include flex-c($gap: $spacing-24px);
    width: 100%;
  }
}

.presentacion {
  p {
    font-size: $semi-small-16px;
    font-weight: $regular;
    font-family: "Montserrat", serif;
    color: $color-white;
    width: 100%;
  }
}

h1 {
  i {
    color: $color-primary-gold;
    font-weight: $medium;
  }
}

.subtitulo {
  .subrayado {
    width: 109px;
    height: 3px;
    background-color: $color-white;
  }
}

.seccion-valores {
  @include flex-c($gap: $spacing-60px);
}

// Our Work

.subtitulo {
  .negro {
    width: 109px;
    height: 3px;
    background-color: $color-black;
  }
}

.sub-negro {
  @include flex-c($gap: $spacing-16px, $align: start);
}

.sub-our-work {
  @include flex-c($gap: $spacing-20px, $justify: start, $align: start);
}

.sub-our-work {
  button {
    p {
      color: $color-secondary-dark-brown;
      font-weight: $bold;
    }
  }
}

// Product gallery

.aspectos {
  @include flex-c($align: start, $justify: start, $gap: $spacing-16px);
  width: 100%;
}

.aspectos {
  div {
    @include flex-c($justify: start, $align: start, $gap: $spacing-8px);
  }
}

.aspectos {
  span {
    font-size: $media;
    font-weight: $medium;
    text-align: start;
    color: $color-grey;
  }
}

.aspectos {
  p {
    font-size: $semi-small-16px;
    font-weight: $semi-bold;
    text-align: start;
    color: $color-secondary-dark-brown;
  }
}

.producto {
  border: none;
  width: 100%;
  height: auto;
}

.flecha {
  width: 12px;
  height: auto;
}

.carusel {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

.lista-producto {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: $spacing-28px;
  height: 100%;
}

//  Testimonies

.musicos {
  @include flex-c($gap: $spacing-24px);
  height: 1000px;
  width: 80%;
}

.musicos {
  .artistas {
    display: flex;
    flex: 1;
    height: 200px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    transition: 0.3s ease-in-out;
    filter: brightness(60%);
  }

  .artistas:nth-child(1) {
    background-image: url("../img/mayer.png");
  }
  .artistas:nth-child(2) {
    background-image: url("../img/julian.png");
  }
  .artistas:nth-child(3) {
    background-image: url("../img/Drexler.avif");
  }
  .artistas:nth-child(4) {
    background-image: url("../img/emmanuel.png");
  }
}

.artistas {
  .frase {
    @include flex-c($justify: start, $align: start);
    position: absolute;
    z-index: 1000;
    padding: 5px 10px;
    bottom: 0px;
    opacity: 0;
    padding: $spacing-24px;
    transition: opacity 0.3s ease-in-out;
    text-align: start;
    font-size: $spacing-24px;
    font-style: italic;
  }
}

.artistas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.frase {
  p {
    text-align: start;
    color: $color-white;
  }
}

.frase {
  span {
    margin-top: $spacing-24px;
    color: $color-grey-text;
  }
}

.marcas-clientes {
  @include flex-r($justify: space-between, $padding: $spacing-16px);
}

.marcas-clientes {
  img {
    width: 200px;
    height: auto;
  }
}

// Menu desplegable

.menu-container {
  position: relative;
}

.menu-container {
  img {
    position: absolute;
    display: flex;
    cursor: pointer;
  }
}

.menu-icon .line {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 5px;
}

.menu {
  @include flex-c($justify: space-between, $align: start);
  position: fixed;
  top: 0;
  left: -375px; /* Se posiciona fuera de la pantalla */
  width: 375px;
  height: 100%;
  background-color: $color-terciary-light-yellow;
  transition: left 0.3s ease;
  z-index: 3000;
}

.menu.active {
  left: 0; /* Desliza el menú hacia la pantalla */
}

.menu ul {
  @include flex-c($align: start);
  margin-top: 150px;
  width: 100%;
}

.menu ul li {
  margin: 20px 0;
  padding: 12px 20px;
  width: 100%;
  transition: 0.3s ease-in-out;
  
}

.menu ul li a {
  text-decoration: none;
  color: $color-secondary-dark-brown;
  font-size: $semi-medium-24px;
  text-align: start;
  font-weight: 500;
  display: block;
  transition: color 0.3s;
}

.close-icon {
  font-size: 30px;
  color: $color-secondary-dark-brown;
  cursor: pointer;
  z-index: 2; /* Asegura que la cruz esté encima de los enlaces */
}

.encabezado-menu {
  @include flex-r($justify: space-between);
  position: absolute;
  width: 100%;
  padding: $spacing-32px;
}

#logo-menu {
  @include flex-r($gap: 4px);
}

#logo-menu {
  p {
    color: $color-secondary-dark-brown;
  }
}

.menu{
  div{
    p{
      color: $color-secondary-dark-brown;
      font-size: 20px;
      padding: 20px;
    }
  }
}