form {
  @include flex-c($justify: start, $align: start);
  width: 100%;
}

input,
textarea {
  height: 42px;
  width: 100%;
  border: none;
  margin-bottom: $spacing-42px;
  text-align: start;
  padding-left: $spacing-8px;
}

textarea {
  height: 260px;
}

label {
  color: $color-white;
  margin-bottom: $spacing-12px;
}

.fondo-form {
  @include flex-c(
    $gap: $spacing-60px,
    $padding: $spacing-100px $spacing-24px $spacing-32px $spacing-24px,
    $align: start
  );
}
